<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PRJ321xA4</display-name>
  <welcome-file-list>
    <welcome-file>posts.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SignupController</servlet-name>
  	<servlet-class>controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignupController</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CreatePostController</servlet-name>
  	<servlet-class>controller.CreatePostController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreatePostController</servlet-name>
  	<url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EditPostController</servlet-name>
  	<servlet-class>controller.EditPostController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditPostController</servlet-name>
  	<url-pattern>/edit</url-pattern>
  </servlet-mapping>
  
  
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/yourPosts.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/createPost.jsp</url-pattern>
  </filter-mapping>
</web-app>